# Análise de Microdados Enade 2018

### Pacotes utilizados

In [1]:
import pandas as pd # pacote para manipulação da base

### Importação dos dados

In [4]:
path = 'D:/UFPR/2º Semestre 2021/Estatística Econômica e Introdução à Econometria/2018/3.DADOS/microdados_enade_2018.txt'
microdados_enade = pd.read_table(path, sep=';', decimal='.')

In [16]:
microdados_enade.head()

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I59,QE_I60,QE_I61,QE_I62,QE_I63,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68
0,2018,1356,10003,10020,1,47116,1,3546603,35,3,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,5.0
1,2018,1356,10003,10020,1,47116,1,3546603,35,3,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
2,2018,1356,10003,10020,1,47116,1,3546603,35,3,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,5.0
3,2018,1356,10003,10020,1,47116,1,3546603,35,3,...,6.0,6.0,6.0,6.0,5.0,6.0,6.0,6.0,6.0,4.0
4,2018,1356,10003,10020,1,47116,1,3546603,35,3,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0

In [22]:
coluna = ['CO_IES', 'TP_INSCRICAO', 'CO_GRUPO','CO_CATEGAD','CO_TURNO_GRADUACAO', 'CO_MODALIDADE'] # somente as variáveis necessárias para investigação
microdados_selecionados = microdados_enade.filter(coluna)

In [23]:
microdados_selecionados.head()

,CO_IES,TP_INSCRICAO,CO_GRUPO,CO_CATEGAD,CO_TURNO_GRADUACAO,CO_MODALIDADE
0,1356,0,1,10003,4.0,1
1,1356,0,1,10003,4.0,1
2,1356,0,1,10003,4.0,1
3,1356,0,1,10003,4.0,1
4,1356,0,1,10003,4.0,1

### Analisando a Base

In [30]:
microdados_selecionados['CO_IES'].nunique()

1762

In [35]:
df = microdados_selecionados.groupby('CO_IES').count()
print(df)

        TP_INSCRICAO  CO_GRUPO  CO_CATEGAD  CO_TURNO_GRADUACAO  CO_MODALIDADE
CO_IES
1                623       623         623                 623            623
2               1854      1854        1854                1854           1854
3               1155      1155        1155                1155           1155
4                792       792         792                 792            792
5               1476      1476        1476                1476           1476
...              ...       ...         ...                 ...            ...
19861             19        19          19                  19             19
19862             19        19          19                  19             19
19863             21        21          21                  21             21
20478             31        31          31                  31             31
23410            154       154         154                 154            154

[1762 rows x 5 columns]